<div>
  <h1>Nos métiers</h1>
  <div class="titre">
    <%= link_to home_path+'#metier'+"#audit" do %>
      <div>AUDIT IMMOBILIER </div>
    <% end %>
    <%= link_to home_path+'#metier'+"#recherche" do %>
      <div>RECHERCHE IMMOBILIERE</div>
    <% end %>
    <%= link_to home_path+'#metier'+"#commercialisation" do %>
      <div>COMMERCIALISATION</div>
    <% end %>
    <%= link_to home_path+'#metier'+"#investissement" do %>
      <div>INVESTISSEMENT</div>
    <% end %>
    <%= link_to home_path+'#metier'+"#investissement" do %>
      <div>VENTE</div>
    <% end %>
    <%= link_to home_path+'#metier'+"#investissement" do %>
      <div>ACHAT</div>
    <% end %>
  </div>

  <div class="metiers">
    <div class="elements">
      <div><h2>Audit immobilier</h2></div>
      <div><p>L’environnement économique est en constante évolution et l’immobilier représente le 2ème poste de charges après les salaires. L’ audit immobilier vous permet de définir une stratégie.</p></div>
      <div>
        <ul>
          <li>Optimisation des coûts immobiliers</li>
          <li>Renégociation de votre bail commercial</li>
          <li>Sale and Lease back</li>
          <li>Réaménagement de votre espace de travail</li>
          <li>Schéma directeur immobilier</li>
          <li>Rationalisation de vos implantations</li>
          <li>Analyse de votre portefeuille</li>
        </ul>
      </div>
    </div>
    <div class="elements">
      <div><h2>Recherche immobilière</h2></div>
      <div><p>Amure Immobilier vous garantit une confidentialité totale dans la recherche de votre future implantation.</p></div>
      <div>
        <ul>
          <li>Élaboration de votre cahier des charges (enjeux sociaux, financiers, géographiques, d’image)</li>
          <li>Accès à l’exhaustivité du marché, sélection et visites d’offres adaptées</li>
          <li>Conseil (indépendant, transparent et intègre) dans les négociations financières et juridiques</li>
          <li>Accompagnement dans votre installation & dans vos travaux</li>
        </ul>
      </div>
  </div>
  </div>

  <div class="metiers">
    <div class="elements">
      <div><h2>Commercialisation</h2></div>
      <div><p>Notre base de donnée nous permet d’effectuer une valorisation aussi précise que les gros acteurs du marché.  Nous sommes précis et professionnel (analyse des offres comparables, analyse des dernières transactions, calcul par capitalisation).</p></div>
      <div>
        <ul>
          <li>Définition d’une cible pertinente</li>
          <li>Mise en place d’une stratégie (prix, schéma de diffusion, interface avec les acteurs du marché, approche directe des entreprises cibles)</li>
          <li>Accompagnement dans les négociations financières et juridiques</li>
        </ul>
      </div>
    </div>

    <div class="elements">
      <h2>investissement<h2>
      </div>
  </div>

  <div class="metiers">
    <div class="elements">
      <div><h2>Vente</h2></div>
      <div><p>Nous calculons les taux de rendement, les estimations de loyer et développons des hypothèses ayant pour objectif de refléter l’analyse qui pourrait être conduite par un acquéreur potentiel.</p></div>
      <div>
        <ul>
          <li>Valeurs locatives de marché (VLM)</li>
          <li>Capitalisation</li>
          <li>Valorisation en l’état / post-travaux</li>
          <li>Stratégie marketing</li>
        </ul>
      </div>
    </div>

    <div class="elements">
    <div><h2>Achat</h2></div>
    <div><p>Nous vous conseillons de manière sincère et objective dans le cadre de vos acquisitions :</p></div>
    <div>
      <ul>
        <li>Analyse des états locatifs</li>
        <li>Projection des revenus</li>
        <li>Recherche du montage optimal / de partenaires éventuels</li>
        <li>Accompagnement jusqu’au transfert de propriété</li>
      </ul>
    </div>
  </div>
</div>
</div>
