
<div class="video-drone">
  <%= video_tag 'home.mp4', autoplay: true, loop: true, muted: true, style: "width: 100%;" %>
  <p class="video-texte">Amure Immobilier</p>
</div>
<%= render "pages/home/apropos"%>

<%= render "pages/home/adn"%>

<%= render "pages/home/metier"%>

<%= render "pages/home/contact"%>
