<div class="footer">
  <div class="liens">
  <div>
    <%= link_to home_path+'#apropos' do%>
      <div>A propos</div>
    <% end %>
    <%= link_to home_path+'#contact' do%>
      <div>Nous contacter</div>
    <% end %>
    </div>
    <div>
    <%= link_to home_path+'#' do%>
      <div>Ils nous font confiance</div>
    <% end%>
    </div>
  </div>

  <div class="main-logo-footer">
    <%= link_to home_path do %>
      <%= image_tag("logo_carre_fond_noir.png", alt:"logo Amure Immobilier") %>
    <% end %>
  </div>

  <div class="social">
    <%= link_to"#", target:"_blank" do %>
      <%= image_tag("logo-linkedin.png", alt:"linkedin")%>
    <% end %>
    <%= link_to"#", target:"_blank" do %>
      <%= image_tag("logo-insta.png", alt:"instagram")%>
    <%end%>
  </div>

</div>
