<nav>
  <section id="main-logo">
    <%= link_to home_path do %>
        <%= image_tag("logo_carre_fond_blanc.png", alt:"logo Amure Immobilier") %>
    <% end %>
  </section>

  <section id='main-title'>
    <%= link_to home_path do %>
      <h1>Amure Immobilier</h1>
  <% end %>
  </section>

  <section id="navigation">
      <%= link_to home_path+'#apropos' do %>
        <div>Qui sommes nous ? </div>
      <% end %>
      <%= link_to '#' do %>
        <div>Nos metiers</div>
      <% end %>
      <%= link_to home_path+'#contact' do %>
        <div>Nous contacter</div>
      <% end %>
    </div>
  </section>

</nav>
